      <div style="text-align:center">
        <table>
          <thead>
            <tr>
              <th colspan="2" style="text-align:center">
                Candidates
                <button type="button" data-toggle="modal" data-target="#myCandidateModal" style="background: none;">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th>Name</th>
              <th>Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of candidatesList" id="{{candidate.Id}}">
              <td>{{candidate.Name}}</td>
              <td>
                {{candidate.Votes}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>


<!-- Modal-->
<div class="modal fade" id="myCandidateModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Candidate</h4>
      </div>
      <div class="modal-body">
        <form class="form-group">
          <input type="text" placeholder="Enter candidate name here" id="name" style="padding:0px; margin-right:15px" class="form-control" [(ngModel)]="newCandidateName" name="newCandidateName" />
          <div class="error-message name-error icon-red" *ngIf="showError">{{erroMessage}}</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" #closeButton>Close</button>
        <button type="button" class="btn btn-success" (click)="AddNewCandidate()">Add</button>
      </div>
    </div>

  </div>
</div>
